#menu-top{
	width:100%;
}
#menu-imagenes{
	margin-top:40px;
	margin-bottom: 40px;
	width: 50%;

}

#menu-informacion{
	float: rigth;
	width: 40%;
	margin-left:87%;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus 
{
	color: #000;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
a:hover, .navbar-default .navbar-nav > .active > a:focus 
{
	color: white; /*BACKGROUND color for active*/
	background-color: #f69831;
}

.navbar-default 
{
    background-color: #f69831;
    border-color: #c5c5c5;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus 
{
    
    text-decoration: none;
    background-color: #f69831;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus 
{
    text-decoration: none;
    background-color: #ffa71f; /*Change rollover cell color here*/
}


.navbar-default .navbar-nav > li > a 
{
   color: white; /*Change active text color here*/
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #ffffff;
    color: #555;
}
div.dhtmlxMenu_dhx_terrace_TopLevel_Item_Normal,
div.dhtmlxMenu_dhx_terrace_TopLevel_Item_Disabled,
div.dhtmlxMenu_dhx_terrace_TopLevel_Item_Selected{
	position:relative;float:left;font-family:Arial;
	font-size:13px;
	color:#333;
	border:0px solid #f69831 !important;
	background-color:#f69831 !important;
	cursor:default;white-space:nowrap;
	-webkit-user-select:none;-khtml-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;height:22px;
	line-height:22px;vertical-align:middle;margin-top:2px;
	padding:3px 5px;
}
div.dhtmlxMenu_dhx_terrace_TopLevel_Item_Normal 
div.top_level_text,div.dhtmlxMenu_dhx_terrace_TopLevel_Item_Disabled 
div.top_level_text,div.dhtmlxMenu_dhx_terrace_TopLevel_Item_Selected 
div.top_level_text{
	float:left;margin:0 5px;
}